.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #445565;
  overflow-y: hidden;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: white;

    h2 {
      font-weight: 600;
      font-size: 28px;
      padding: 20px;

      span {
        font-weight: 300;
        font-size: 20px;
      }
    }

    .plot {
      display: flex;
      justify-content: space-around;
      max-width: 960px;
      max-height: 400px;
      padding: 20px;

      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      img {
        max-width: 300px;
        padding: 20px;

        @media screen and (max-width: 600px) {
          width: 50%;
        }
      }
      p {
        // flex: 1 1 70%;
        min-width: 300px;
        padding: 20px;

        @media screen and (max-width: 600px) {
          width: 300px;
        }
      }
    }
    .close {
      // display: inline-block;
      // padding: 15px;
      font-size: 30px;
      font-weight: 700;
      min-width: 200px;
      height: 50px;

      background: #4484c4;
      color: white;
      border-radius: 8px;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;
      transition: 0.4s ease-out;

      &:hover {
        background: #223343;
      }
    }
  }
}
